@mixin animatTransition ($property, $duration: .1s, $func: ease-in-out) {
  transition: $property $duration $func;
}

@mixin flex($j, $a, $d: false, $w: false) {
  display: flex;
  justify-content: $j;
  align-items: $a;
  @if ($d) {
    flex-direction: $d;
  }
  @if ($w) {
    flex-wrap: $w;
  }
}